<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="zh-CN" lang="zh-CN">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="{{ site.author }}" />
    <title>{% if page.path == 'index.html' %}{{ site.name }}{% else %}{% unless page.id %}{{ site.name }} - {% endunless %}{{ page.title }}{% endif %}</title>
    <link rel="shortcut icon" href="/favicon.ico" />
    <link href="/feed/" rel="alternate" title="{{ site.author }}" type="application/atom+xml" />
    <link rel="stylesheet" href="/media/css/style.css" />
    <link rel="stylesheet" href="/media/css/highlight.css" media="all"/>
    <script type="text/javascript" src="/media/js/jquery-1.7.1.min.js"></script>
    <script>
	var _hmt = _hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "//hm.baidu.com/hm.js?c8b6b0935d500265a25412545ed5f058";
	  var s = document.getElementsByTagName("script")[0];
	  s.parentNode.insertBefore(hm, s);
	})();
    </script>
  </head>
  <body>
    <div id="container">
      <div id="main" role="main">
        <header>
          <h1>{{ page.title }}</h1>
        </header>
        <nav>
          <span><a title="首页" class="" href="/">首页</a></span>
          <span><a title="分类" class="" href="/categories/">分类</a></span>
          <span><a title="标签" class="" href="/tags/">标签</a></span>
          <span><a title="留言" class="" href="/guestbook/">留言</a></span>
          <span><a title="关于" class="" href="/about/">关于</a></span>
        </nav>
        <article class="content">
          {{ content }}
        </article>
      </div>

      <footer>
        <p><small><a href="http://www.elmerlxy.com">尘埃落定的博客</a></small</p>
        <p>
          <small>
            <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/cn/" target="_blank" title="许可协议">Copyright ©</a> 2015 - {{site.time | date:"%Y"}} <a href="/about/">{{ site.author }}</a> All Rights Reserved | 浙ICP备16014485号
          </small>
        </p>
      </footer>

    </div>

    <!--访问LeanCloud的js包装脚本-->
    <script src="https://cdn1.lncld.net/static/js/av-core-mini-0.6.1.js"></script>
    <!--初始化LeanCloud的AV对象-->
    <script>
    AV.initialize("hQbdf5f1KrAGwtP4cXqprx7y-gzGzoHsz", "7F5Wwjbvx11t0bBmyIgmtpy5");
    </script>
    <!--实现计数的js包装脚本-->
    <script type="text/javascript">
    function showTime(Counter) {
        var query = new AV.Query(Counter);
        var entries = [];
        var $visitors = $(".leancloud_visitors");

        $visitors.each(function() {
            entries.push($(this).attr("id").trim());
        });

        query.containedIn('url', entries);
        query.find()
            .done(function(results) {
                var COUNT_CONTAINER_REF = '.leancloud-visitors-count';
                var OLD_COUNT_CONTAINER_REF = '.old-visitors-count';

                // if (results.length === 0) {
                //     $visitors.find(COUNT_CONTAINER_REF).text(0);
                //     return;
                // }

                for (var i = 0; i < results.length; i++) {
                    var item = results[i];
                    var url = item.get('url');
                    var time = item.get('time');
                    var element = document.getElementById(url);

                    $(element).find(COUNT_CONTAINER_REF).text(time);
                }
                for (var i = 0; i < entries.length; i++) {
                    var url = entries[i];
                    var element = document.getElementById(url);
                    var countSpan = $(element).find(COUNT_CONTAINER_REF);
                    if (countSpan.text() == '') {
                        var oldCountSpan = $(element).find(OLD_COUNT_CONTAINER_REF).text();
                        if(oldCountSpan!=''){
                            countSpan.text(0+parseInt(oldCountSpan));
                        }else{
                            countSpan.text(0);
                        }
                    }
                }
            })
            .fail(function(object, error) {
                console.log("Error: " + error.code + " " + error.message);
            });
    }

    function addCount(Counter) {
        var $visitors = $(".leancloud_visitors");
        var url = $visitors.attr('id').trim();
        var title = $visitors.attr('data-flag-title').trim();
        var query = new AV.Query(Counter);

        query.equalTo("url", url);
        query.find({
            success: function(results) {
                if (results.length > 0) {
                    var counter = results[0];
                    counter.fetchWhenSave(true);
                    counter.increment("time");
                    counter.save(null, {
                        success: function(counter) {
                            var $element = $(document.getElementById(url));
                            $element.find('.leancloud-visitors-count').text(counter.get('time'));
                        },
                        error: function(counter, error) {
                            console.log('Failed to save Visitor num, with error message: ' + error.message);
                        }
                    });
                } else {
                    var newcounter = new Counter();
                    /* Set ACL */
                    var acl = new AV.ACL();
                    acl.setPublicReadAccess(true);
                    acl.setPublicWriteAccess(true);
                    newcounter.setACL(acl);
                    /* End Set ACL */
                    newcounter.set("title", title);
                    newcounter.set("url", url);
                    var OLD_COUNT_CONTAINER_REF = '.old-visitors-count';
                    var $element = $(document.getElementById(url));
                    var oldCountSpan = $element.find(OLD_COUNT_CONTAINER_REF).text();
                    if(oldCountSpan!=''){
                        newcounter.set("time", parseInt(oldCountSpan)+1);
                    }else{
     	                    newcounter.set("time",  1);
                    }
                    newcounter.save(null, {
                        success: function(newcounter) {
                            var $element = $(document.getElementById(url));
                            $element.find('.leancloud-visitors-count').text(newcounter.get('time'));
                        },
                        error: function(newcounter, error) {
                            console.log('Failed to create');
                        }
                    });
                }
            },
            error: function(error) {
                console.log('Error:' + error.code + " " + error.message);
            }
        });
    }
    $(function() {
        var Counter = AV.Object.extend("Counter");
        //如果只有1个.leancloud_visitors，则说明是博客页，需要显示查看数并将查看数+1
        //超过1个，则说明是文章列表，只需要显示查看数
        if ($('.leancloud_visitors').length == 1) {
            addCount(Counter);
        } else {
            showTime(Counter);
        }
    });
    </script>
  </body>
</html>
